.chat-container {
    margin: 0 auto;
    display: inline;
}
.scroll {
    height: 100vh;
    overflow-y: auto;
}
.video-container {
    padding-left:  10vw;
    overflow-y:auto;
}
.video-cell {
    padding-top: 10vh;
    
}